<!DOCTYPE html>
<html>
<head>
  <title>FogCity</title>
  <link rel="stylesheet" type="text/css" href="index.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
</head>
<body>

<div class="imagecontainer" id="imageContainer">
</div>

<div id="imageModal" class="hideModal">
  <img id="imageModalImage" src=""/>
</div>

<footer>
  <div id="groupLeft" >Katarina Svorcan <i class="fas fa-camera"></i></div>
  <div id="groupRight" >
    <a href="#">FogCity</a>
    <a href="/sunset">Sunset</a>
    <a href="/people">People</a>
    <a href="/travel">Travel</a>
    <a href="/whiteAndBlack">White&Black</a>
    <a id="last" href="mailto:kata_che@hotmail.com">CONTACT</a>
    <a target="_blank" href="https://www.instagram.com/livinsanfran/"><i id="customcamera" class="fab fa-instagram"></i></a>
  </div>
</footer>

<script src="/index.js"></script>
<script src="/photoURLs/fogCityURLs.js"></script>

</body>
</html>